DJANGO_ENV=prod
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=0
APP_URL=https://expenses.otzi.cl
ALLOWED_HOSTS=expenses.otzi.cl
CSRF_TRUSTED_ORIGINS=https://expenses.otzi.cl

POSTGRES_DB=waexp
POSTGRES_USER=waexp
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

WA_VERIFY_TOKEN=replace-me
WA_ACCESS_TOKEN=replace-with-permanent-token
WA_TEMPORARY_TOKEN=

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

AZURE_ACCOUNT_NAME=replace-me
AZURE_ACCOUNT_KEY=replace-me
AZURE_CONTAINER=waexp-media
AZURE_URL_EXPIRATION_SECS=3600
AZURE_CUSTOM_DOMAIN=
AZURE_CONNECTION_STRING=

RUN_MIGRATIONS=1
COLLECTSTATIC=1
WAIT_FOR_DB=1
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SESSION_COOKIE_SECURE=1
DJANGO_CSRF_COOKIE_SECURE=1
DJANGO_USE_X_FORWARDED_HOST=1
DJANGO_USE_X_FORWARDED_PORT=1
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=1
