{% load static %}
<!--begin::Header-->
<div id="kt_app_header" class="app-header">
  <!--begin::Header container-->
  <div class="app-container container-fluid d-flex align-items-stretch justify-content-between" id="kt_app_header_container">

    <!--begin::Logo-->
    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
      <a href="{% url 'dashboard' %}">
        <img alt="Logo" src="{% static 'theme/metronic/assets/media/logos/logo-simple.svg' %}" class="h-20px h-lg-30px" />
      </a>
    </div>
    <!--end::Logo-->

    <!--begin::Navbar-->
    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
      <!--begin::Menu wrapper-->
      <div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true"
          data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}"
          data-kt-drawer-overlay="true" data-kt-drawer-width="250px"
          data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
          data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
          data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">
      </div>
      <!--end::Menu wrapper-->

      <!--begin::Navbar-->
      <div class="app-navbar flex-shrink-0">
        <!--begin::User menu-->
        <div class="app-navbar-item ms-1 ms-lg-3">
          <div class="cursor-pointer symbol symbol-35px symbol-md-40px"
               data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
               data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
            <img src="{% static 'theme/metronic/assets/media/avatars/blank.png' %}" alt="user"/>
          </div>

          <!--begin::Menu-->
          <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px"
               data-kt-menu="true">
            <div class="menu-item px-3">
              <div class="menu-content d-flex align-items-center px-3">
                <div class="symbol symbol-50px me-5">
                  <img alt="Logo" src="{% static 'theme/metronic/assets/media/avatars/blank.png' %}" />
                </div>
                <div class="d-flex flex-column">
                  <div class="fw-bold d-flex align-items-center fs-5">
                    {{ request.user.get_full_name|default:request.user.email }}
                  </div>
                  <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{{ request.user.email }}</a>
                </div>
              </div>
            </div>
            <div class="separator my-2"></div>
            <div class="menu-item px-5">
              <a href="{% url 'password_change' %}" class="menu-link px-5">
                Cambiar contraseña
              </a>
            </div>
            <div class="menu-item px-5">
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="menu-link px-5 btn btn-link p-0" style="text-decoration:none;">
                  Cerrar sesión
                </button>
              </form>
            </div>
          </div>
          <!--end::Menu-->
        </div>
        <!--end::User menu-->
      </div>
      <!--end::Navbar-->
    </div>
    <!--end::Navbar-->
  </div>
  <!--end::Header container-->
</div>
<!--end::Header-->
